#Intelij idea settings
*.idea

# Notepad backup file
*.bak

# Ignore all files in the .vscode directory
/vscode
.vscode/

# Ignore all Logseq-related files and directories
/logseq
*.logseq

# Ignore all MarkText-related files
/marktext
.marktext/

# Ignore all Obsidian-related files and directories
# Note .obsidian is a hidden folder (containing multiple internal files) in the root. Note how it is ignored.
/.obsidian
/.obsidian
.obsidian/workspace.json
.obsidian\workspace.json